<html>
<head>
    <title>MyServlet Admin</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<form id="admin" class="aui" action="" method="POST">
    <div class="field-group">
        <label for="Test">Ask question</label>
        <input type="text" id="question" name="question" class="text" value="$question">
    </div>
    <div class="field-group">
        <input type="submit" value="Send" class="button">
    </div>
</form>
    #if ($time != "")
    <p>System Time: $time</p>
    #end
    #if ($answer != "")
    <p>Answer: $answer</p>
    #end

</body>
</html>